.Contact {
  .contact {
    height: 80vh;
    width: 100%;
    overflow: hidden;
  }

  .iconFontSize {
    font-size: 50px;
  }
  .marginB {
    margin-top: -5px;
  }
  .heightSize {
    height: 180px;
  }
}
